<div class="panel panel-default">
  <div class="panel-body">
    <form id="contact-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            class="form-control required"
            size="120"
            maxlength="120"
            name="name"
            [ngModel]="contact?.name"
            required
            #name="ngModel"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="brand">Brands:</label>
          <input
            type="text"
            id="brand"
            class="form-control required"
            size="120"
            maxlength="255"
            name="email"
            [ngModel]="contact?.brands"
            #brand="ngModel"
          />
          <div>Enter a list of brand names.</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="sideEffects">Side Effects:</label>
          <input
            type="text"
            id="sideEffects"
            class="form-control invalid"
            size="150"
            maxlength="255"
            name="sideEffects"
            [ngModel]="contact?.sideEffects"
            #sideEffects="ngModel"
          />
          <div>Enter a list of side effects.</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="uses">Uses:</label>
          <input
            type="text"
            id="uses"
            class="form-control invalid"
            size="150"
            maxlength="255"
            name="uses"
            [ngModel]="contact?.uses"
            required
            #uses="ngModel"
          />
          <div>Enter a list of uses.</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="className">Class:</label>
          <input
            type="text"
            id="className"
            class="form-control invalid"
            size="150"
            maxlength="255"
            name="className"
            [ngModel]="contact?.className"
            #className="ngModel"
          />
          <div>Enter a class name.</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="controlled">Controlled:</label>
          <input
            type="text"
            id="controlled"
            class="form-control invalid"
            size="150"
            maxlength="255"
            name="controlled"
            [ngModel]="contact?.controlled"
            #controlled="ngModel"
          />
          <div>Enter if this is a controlled drug.</div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="groupList">Group Contacts:</label>

          <div class="row" id="groupList" style="min-height: 3rem">
            <div *ngFor="let contact of groupContacts; let i = index">
              <div>
                <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
                <button class="btn btn-danger col-sm-2 deleteButton" (click)="onRemoveItem(i)">
                  X
                </button>
              </div>
            </div>
            <span class="dragMsg" *ngIf="groupContacts?.length < 1"
              >Drag contacts in group here</span
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div
          class="alert alert-danger"
          *ngIf="(!name.valid && !name.touched) || (!uses.valid && !uses.touched)"
        >
          The Name and Uses fields are required.
        </div>
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
