.panel-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 10px 20px;
}

.panel-heading .text-primary {
  font-weight: bold;
}